@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

 /* https://coolors.co/30011e-d7fcd4-b6cca1-b68f40-545454 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    
    overflow-x: hidden;

    font-family: "bitter";
}
/* 
body * {
    background-color: rgba(0, 0, 0, 0.3);
} */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #30011e;
}
h1 {
    
    color: #B68F40;
}
h2{
    
    color: #B68F40;
    text-align: center;
}

.starting{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}

.starting > *{
    background-color: #30011e;
    border: 3px solid #B68F40;
    padding: 5px;
    color: #B68F40;
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.startBtn{
    border: 15px double;

    transition: all 100ms ease-in;
}

.startBtn:hover{
    background-color: #46052dda;
    color: aliceblue;
    transform: scale(1.01);
    cursor: pointer;
}

#numberOfCards-config{
    border-width: 5px;
    transition: all 0.1s ease;
}

#numberOfCards-config:hover{
    color: aliceblue;
    border-color: aliceblue;
}

main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    background-color: #242424;
    
}

.playArea{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 80vw;
    min-height: 100vh;
}

.cardsArea{
    width: 960px;
    min-height: 300px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-auto-rows: 150px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;

    background-color: #30011E;
    border: 5px solid #B68F40;

    transition: all 0.2s ease;

    /* transform: rotateY(180deg); */
    user-select: none;
}

.card > *{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card:hover{
    border-color: aliceblue;
    cursor: pointer;
    box-shadow: 0px 0px 15px aliceblue;
}

.card .card-image, .cardCollected .cardCollected-image, .last .card-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card .card-text{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #B68F40;
    text-align: center;
}


.card * {
    display: none;
}

.selectedArea{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    min-height: 100vh;
}

.cardCollected{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.cardCollected .cardCollected-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    color: #707070;
}

.flipped{
    transform: rotateZ(5deg) scale(1.08);
}

.card.flipped * {
    display: flex;
}

.last{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.hidden-card{
    display: none;
}

.collectedArea{
    width: 100%;
}

.selectedArea > * {
    display: flex;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 1200px){
    main{
        flex-direction: column-reverse;
    }
    .selectedArea{
        flex-direction: row;
        width: 100vw;
        height: 200px;
        min-height: 200px;
    }
    .last-area{
        border-right: 1px solid #545454;
        width: 30%;
        height: 100%;
        
    }
    .collectedContainer{
        width: 80%;
        display: flex;
        justify-content: start;
        height: 100%;
    }
    .collectedArea{
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;

    }
    .card-text{
        font-size: 12px;
    }
    .cardsArea{
        grid-template-columns: 23vw 23vw 23vw 23vw;
        grid-auto-rows: 23vw;
    }
    .playArea{
        width: 100vw;
    }
    .last{
        flex-direction: column;
        align-items: center;
    }
    .last .card-image{
        width: 50px;
        height: 50px;
    }
    .starting{
        flex-wrap: wrap;
        height: auto;
    }
    .starting > *{
        width: 30%;
        height: 70px;
    }
    .startBtn{
        width: 94%;
    }
}